@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './scss/Home.scss';
@import './scss/About';
@import './scss/Services';
@import './scss/Portfolio';

#root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: black;
}