
.text-card{
    display: none;
    &:hover{
        display: block !important;
    }
}
.text-card {
    position: absolute;
    bottom: -100%;
    opacity: 0;
    visibility: hidden;
    @include transition(all,.3s);
}

.text-card:hover{
    bottom: 7px;
    opacity: 1;
    visibility: visible;
}

.certifcate{
    transition: 1s;
    width: 65%;
}

.certifcate:hover{
    transform: scale(1.1);
}

.listsm{
    list-style: none;
    display: none !important;
    li{
        a{
            i:hover{
                color: white !important;
                // background-color: white;
                // border: 1px solid white;
                // padding: 10px;
            }
        }
    }
}

// .contactList{
//     display: none ;
// }

@media screen and (max-width: 600px) {
    .certifcate{
        width: 700px !important;
    }
    
    
  }

//   @media screen and (min-width: 600px) {
//     .listsm{
//         display: none;
//     }
    
//   }

  @media screen and (max-width: 993px) {
    .listsm{
        display: flex !important;
    }
  }