
.imageMy{
    border-radius: 1000px !important;
    width: 65% !important;
}

.card{
    background-color: black;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    
}

.btns{
    // padding: 10px 100px !important;
    border-radius: 30px;
    background-color: rgba(80, 77, 77, 0.185);
    &:hover{
        background-color: white;
        color: black;
        
    }
}
.list{
    list-style: none;
    position: fixed !important;
    li{
        a{
            i:hover{
                color: white !important;
                // //font-size: 30px !important;
                // border: 1px solid white !important;
                // border-radius: 1px;
                // padding: 4px;
                // -webkit-border-radius: 1px;
                // -moz-border-radius: 1px;
                // -ms-border-radius: 1px;
                // -o-border-radius: 1px;
}
        }
    }
}

// .port{
//     padding: 10px 95px !important;
// }

// .certifcate{
//     padding: 10px 80px !important;
// }

::-webkit-scrollbar{
    width: 0.723rem;
    
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}

.modes:hover{
  color: white !important;
}

@media screen and (max-width: 993px) {
    .list{
        display: none;
    }
  }